<h1>Outdoorsy MeetUps</h1>
<h4>Find An Outdoorsy MeetUp Near You</h4>
<div class="container">
  <div class="divider"></div>
  <div class="section">
    <h5>Placeholder title</h5>
    <p>What: </p>
    <p>When: </p>
    <p>Where: </p>
    <p>People Attending: </p>
  </div>
  <button class="btn waves-effect waves-light green" type="button">SignUp!</button>
</div>
