<h1>Tech MeetUps</h1>
<h4>Find A Tech MeetUp Near You</h4>

<div class="divider"></div>
<div class="section">
  <h5>Learn UX MeetUp</h5>
  <p>Stuff</p>
</div>
<div class="divider"></div>
<div class="section">
  <h5>Ruby MeetUp</h5>
  <p>Stuff</p>
</div>
<div class="divider"></div>
<div class="section">
  <h5>Seattle Bitcoin</h5>
  <p>Have some beer and pizza and discuss Bitcoin. People who are new to Bitcoin and seasoned Bitcoin enthusists are welcome. This is a great opportunity to network and discuss the ideas, politics, and the technology in the space.</p>
  <a href="/signup">Sign Up Here!</a>
</div>
