<div class="container">
  <div class="container white z-depth-2">
  	<ul class="tabs teal">
  		<li class="tab col s3"><a class="white-text active" href="#login">login</a></li>
  	</ul>
  	<div id="login" class="col s12">
  		<form class="col s12" action="/sessions" method="post">
  			<div class="form-container">
  				<h3 class="teal-text">Hello</h3>
  				<div class="row">
  					<div class="input-field col s12">
  						<input id="email" type="email" name="email" class="validate">
  						<label for="email">Email</label>
  					</div>
  				</div>
  				<div class="row">
  					<div class="input-field col s12">
  						<input id="password" name="password" type="password" class="validate">
  						<label for="password">Password</label>
  					</div>
  				</div>
  				<br>
  				<center>
  					<button class="btn waves-effect waves-light teal" type="submit">Connect</button>
  					<br>
  					<br>
  					<a href="">Forgotten password?</a>
            <br>
            <a href="/">Return Home</a>
  				</center>
  			</div>
  		</form>
  	</div>
  </div>
</div>
