<div class="container">
  <div class="body">
  <h2>Welcome to the MeetUp Clone</h2>
    <h4>What meet ups are you interested in?</h4>
    <center><a href="/registrations/signup">Sign Up Here</a></center>
    <br>
    <center>Already a member? <a href="/sessions/login"> Log in here.</a> </center>
  </div>




  <div class="row container" style="width: 750px;">
    <div class="col  m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" id="tech" src="https://az616578.vo.msecnd.net/files/2017/02/21/636232341000937145-2058526602_technology.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Tech<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Tech<i class="material-icons right">close</i></span>
            <p>Find like minded people who have a passion for tech! From coding langauges to the newest gadgets and everything inbetween.</p>
            <p><a href="/tech">Learn More!</a></p>
        </div>
      </div>
    </div> <!--row end -->

    <div class="col m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" id="outdoors" src="https://cdn1.wimp.com/images/sthumbs/2016/04/5d54d6c0f9cea4a8c8217485b6c04319_hikeCustom1.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Outdoors<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Outdoors<i class="material-icons right">close</i></span>
            <p>For those who love getting out in nature! Find some new friends to hike, climb, and explore with!</p>
            <p><a href="/outdoors">Learn More!</a></p>
        </div>
      </div>
    </div>
    <div class="col m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" id="cooking" src="http://hgtvhome.sndimg.com/content/dam/images/hgtv/fullset/2014/9/10/0/TS-459880317_young-people-cooking-dinner-together.jpg.rend.hgtvcom.1280.960.jpeg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Cooking<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Cooking<i class="material-icons right">close</i></span>
            <p>Have you ever wanted to learn how to cook a certain cuisine? Or just learn how to in general? Meet up here!</p>
            <p><a href="/cooking">Learn More!</a></p>
        </div>
      </div>
    </div>
    <div class="col m6">
      <div class="card">
        <div class="card-image waves-effect waves-block waves-light">
          <img class="activator" id="gaming" src="https://i.kinja-img.com/gawker-media/image/upload/s--zTY0m0ci--/c_scale,fl_progressive,q_80,w_800/1359563471926476945.jpg">
        </div>
        <div class="card-content">
          <span class="card-title activator grey-text text-darken-4">Gaming<i class="material-icons right">more_vert</i></span>
        </div>
        <div class="card-reveal">
          <span class="card-title grey-text text-darken-4">Gaming<i class="material-icons right">close</i></span>
            <p>Find new friends to game with! Console, computer, card, board, dice - whatever your preference is! </p>
            <p><a href="/gaming">Learn More!</a></p>
        </div>
      </div>
    </div>
  </div>
</div>
